.menu-tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 100%;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.menu-tabs li {
    width: 25%;
    height: 100%;
    padding: 1px 0;
}
.menu-tabs li a {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
}
.menu-tabs li a span {
    background-size: 22px 22px;
    margin-bottom: 2px;
    display: block;
    width: 22px;
    height: 22px;
}
.menu-tabs li a span.home-icon {
    background-image: url(../images/menu/home.png);
}
.menu-tabs li a span.gas-icon {
    background-image: url(../images/menu/gas.png);
}
.menu-tabs li a span.car-icon {
    background-image: url(../images/menu/car.png);
}

.menu-tabs li a span.my-icon {
    background-image: url(../images/menu/my.png);
}
.menu-tabs li a label {
    font-size: 12px;
    color: #8a8a8a;
}
.menu-tabs li a.selected label{
    color: #eb4452;
}
.menu-tabs li:active {
    background-color: #f3f1f1;
}
.menu-tabs li a.selected span.home-icon {
    background-image: url(../images/menu/home@selected.png);
}
.menu-tabs li a.selected span.gas-icon {
    background-image: url(../images/menu/gas@selected.png);
}
.menu-tabs li a.selected span.car-icon {
    background-image: url(../images/menu/car@selected.png);
}
.menu-tabs li a.selected span.my-icon {
    background-image: url(../images/menu/my@selected.png);
}